@import "components/protones_main.css";

* {
    font-family:'Old Standard TT', serif;
    
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #e1f8ed;
}

header {
    width: 100%;
    height: 4%;
    background-color: #83A794;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    
}


#logo_container {
   
    width: 10%;
    height: 4%;
    display: flex;
    flex-direction: column;
    flex-shrink: inherit;    
    justify-content: center;
    
}

#logo_container h3 {
    
    text-align: center;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: 1.5vw;
    text-shadow: 3px 3px 2px #e1f8ed;
    font-size: 1.5vw;
    color: #030607;
    letter-spacing: 0.4vw;
}

#logo {
    flex-shrink: inherit;
    transform: scale(0.7);
    background-color: #FAFAFA;
    border-radius: 15%;
    box-shadow: 5px 5px 5px #5D6651 ;
    margin-top: 1vw;
    padding: 0.5vw;
    margin-left: 1.4vw;
    
}

#title {
    height: 100%;  
    width: 80%;
    
}

h1 {
    color: #030607;
    text-shadow: 6px 4px 6px #5D6651;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 3vw;
    margin-top: 4vw;
    
}

h2 {
    text-align: center;
}

nav {
   
    width: 10%;
    height: 5%;
    text-align: center;
    padding-top: 10%;
    display: block;

}

.dropdown {
  position: relative;
  display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    margin: auto;
    background-color: #33463B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 1vw;
}
  
.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content li:hover {background-color: #5D6651;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropdown-button {background-color: #33463B;}

button {
    background-color: transparent;
    font-family:'Old Standard TT', serif;
    border: none;
    font-weight: bold;
    width: 100%;
    font-size: 2vw;
    color: #e1f8ed;
} 

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


main {
    border: solid 1px black;
    
}

#photo-container {
    width: 100%;
    height: 30vw;
}

article img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

footer {
    border: solid 1px #030607;
    background-color: #83A794;
    display: flex;
    flex-direction: row;
   justify-content: center; 
    
   
}

.links-and-signature p {
    margin: 0;
    font-size: 0.8vw;
    
}

.modal-content {
    background-color: #215353;
    
}

#socialmedia {
    padding: 1vw;
    display: flex;
    justify-content: space-evenly;
    color:  #030607;
    height: 3vw;
}