:root {
    --main-green-color: #215353;
    --main-black-color: #030607;
    --main-green1-color: #33463B;
    --main-grey--color: #5D6651;
    --main-green2-color: #83A794;
    --main-background-color: #e1f8ed;
    --main-font-family: 'Old Standard TT', serif;
}